body {
  background-image: url(tlodiv.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Audiowide', cursive;
}

.klocki {
  height: 30px;
  width: 30px;
  float: left;
  background-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
  border-radius: 50%;
}
#znak
{
  position: fixed;
  top:20px;
  left:20px;
  font-size: 24px;
}
a.tilelink
{
    color: azure;
}

.dupa {
  margin-top: 5px;
  text-align: center;

}
#gra
{
  margin-left: 5%;
}
#gra1
{
  margin-left: 5%;

}
#wynik
{
  color: azure;
  font-size: 20px;
  margin-top: 10%;
  margin-bottom: 10%;
  font-family: 'Audiowide', cursive;
}
